In [1]:
from datetime import date, timedelta
import webbrowser

import numpy as np
import pandas as pd

In [2]:
# pd.set_option('compute.use_numba', True)
pd.set_option('display.max_colwidth', None)

# English Words

In [3]:
english_words = pd.read_csv('./English Words.csv', sep=';', index_col=0, parse_dates=True)
# english_words.head()

In [4]:
english_words['tomorrow'] = np.hstack((np.array([np.nan]), english_words['words'][:-1]))
english_words['1 week'] = np.hstack((np.array([np.nan]*8), english_words['words'][:-8]))
english_words['2 weeks'] = np.hstack((np.array([np.nan]*22), english_words['words'][:-22]))
english_words['1 month'] = np.hstack((np.array([np.nan]*52), english_words['words'][:-52]))
english_words['3 months'] = np.hstack((np.array([np.nan]*142), english_words['words'][:-142]))
english_words['6 months'] = np.hstack((np.array([np.nan]*322), english_words['words'][:-322]))
english_words['1 year'] = np.hstack((np.array([np.nan]*687), english_words['words'][:-687]))

### Words to revise for today

In [5]:
pd.DataFrame(english_words.loc[date.today().isoformat()][1:].dropna())
# today = '2020-12-31'
# pd.DataFrame(english_words.loc[today][1:].dropna())

                                            2021-02-21
1 week                              impertinent [25-8]
2 weeks                            prickliness [24-94]
1 month   unconscientious, unconscientiousness [24-76]
3 months                            unyielding [24-30]
6 months               eerie, eerily, eeriness [22-39]

### Last three days

In [6]:
today = date.today()
temp = english_words.loc[[today - timedelta(days=2), today - timedelta(days=1), today]].iloc[:, 1:]
temp.T

date,2021-02-19,2021-02-20,2021-02-21
tomorrow,NaN,ensue [25-12],NaN
1 week,pertinently [25-8],NaN,impertinent [25-8]
2 weeks,prickle [24-93],NaN,prickliness [24-94]
1 month,"conscientiousness, conscientiously [24-75]",NaN,"unconscientious, unconscientiousness [24-76]"
3 months,yielding [24-29],NaN,unyielding [24-30]
6 months,"exhale, exhalation [22-38]",NaN,"eerie, eerily, eeriness [22-39]"
1 year,NaN,ripe [18-47],NaN

### The last studied word

In [24]:
english_words.iloc[:,0].dropna()[-1]

'ensuing, ensuant [25-14]'

### Insert new word(-s)

In [23]:
new_word = 'ensuing, ensuant [25-14]'
today = date.today().isoformat()
# today = '2021-01-28'

# english_words.at[today, 'words'] = new_word
# english_words.iloc[:,0].to_csv('English Words.csv', sep=';')

### Check if there is a concrete word in the storage

In [25]:
word = 'breach'
# english_words['words'].dropna()[english_words['words'].dropna().str.contains(word)]

Series([], Name: words, dtype: object)

# [Video lessons www.engvid.com](https://www.engvid.com/english-lessons/)

In [10]:
video_lessons = pd.read_csv('./Video lessons.csv', sep=';', index_col=0, parse_dates=True)
# video_lessons.head()

In [11]:
video_lessons['1 week'] = np.hstack((np.array([np.nan]*8), video_lessons['URL'][:-8]))
video_lessons['2 weeks'] = np.hstack((np.array([np.nan]*22), video_lessons['URL'][:-22]))
video_lessons['1 month'] = np.hstack((np.array([np.nan]*52), video_lessons['URL'][:-52]))
video_lessons['3 months'] = np.hstack((np.array([np.nan]*142), video_lessons['URL'][:-142]))

### Video lessons to revise for today

In [12]:
for index, value in video_lessons.loc[date.today().isoformat()][1:].dropna().items():
    print(f"{index}: {value}")

# today = '2020-09-19'
# for index, value in video_lessons.loc[today][1:].dropna().items():
#     print(f"{index}: {value}")

**Open URLs with the default browser**

In [13]:
# for url in video_lessons.loc[date.today().isoformat()][1:].dropna():
#     webbrowser.open(url)

### Last three days

In [14]:
today = date.today()
temp = video_lessons.loc[[today - timedelta(days=2), today - timedelta(days=1), today]]
temp.T

Date,2021-02-19,2021-02-20,2021-02-21
URL,NaN,https://www.engvid.com/13-common-acronyms-abbreviations-in-english/,NaN
1 week,NaN,https://www.engvid.com/how-to-talk-about-your-period/,NaN
2 weeks,NaN,NaN,NaN
1 month,NaN,NaN,NaN
3 months,NaN,NaN,NaN

### The last watched video
**Open the last watched video**

In [15]:
print(video_lessons['URL'].dropna()[-1])

https://www.engvid.com/13-common-acronyms-abbreviations-in-english/

In [16]:
# webbrowser.open_new_tab(video_lessons['URL'].dropna()[-1])

### Insert new URL

In [17]:
new_URL = 'https://www.engvid.com/13-common-acronyms-abbreviations-in-english/'
today = date.today().isoformat()
# today = '2020-09-27'

# video_lessons.at[today, 'URL'] = new_URL
# video_lessons.iloc[:,0].to_csv('Video lessons.csv', sep=';')

# Literature

In [18]:
literature = pd.read_csv('./Literature.csv', sep=';', index_col=0, parse_dates=True)
# literature.head()

In [19]:
literature['1 month'] = np.hstack((np.array([np.nan]*30), literature['book'][:-30]))
literature['3 months'] = np.hstack((np.array([np.nan]*120), literature['book'][:-120]))
literature['6 months'] = np.hstack((np.array([np.nan]*300), literature['book'][:-300]))
literature['1 year'] = np.hstack((np.array([np.nan]*666), literature['book'][:-666]))
literature['2 years'] = np.hstack((np.array([np.nan]*1396), literature['book'][:-1396]))

### Literature to revise for today

In [20]:
for index, value in literature.loc[date.today().isoformat()][1:].dropna().items():
    print(f"{index}: {value}")

# today = '2021-01-01'
# for index, value in literature.loc[today][1:].dropna().items():
#     print(f"{index}: {value}")

### Last three days

In [21]:
today = date.today()
temp = literature.loc[[today - timedelta(days=2), today - timedelta(days=1), today]]
temp.T

date     2021-02-19                                  2021-02-20 2021-02-21
book            NaN                                         NaN        NaN
1 month         NaN                                         NaN        NaN
3 months        NaN                                         NaN        NaN
6 months        NaN                                         NaN        NaN
1 year          NaN  Murphy - English Grammar in Use - Unit 122        NaN
2 years         NaN                                         NaN        NaN

### Insert new book / new chapter of the book

In [22]:
new_book = '____________________'
today = date.today().isoformat()

# literature.at[today, 'book'] = new_book
# literature.iloc[:,0].to_csv('literature.csv', sep=';')